header{
  font-family: sourcehansans-tc-extralight;
  font-size:30pt;
  color:white;
  text-align: center; padding: 20px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .4s;
  opacity: 1;
}

h1:hover{
  opacity: .3;
}

div,ol {
  font-family: sourcehansans-tc-extralight;
  font-size:10pt;
  line-height:1.4;
}
ul{
font-family: sourcehansans-tc-extralight;
  font-size:10pt;
}

body{
    background: url(https://seattlesteve.files.wordpress.com/2014/02/dsc03070.jpg) fixed;   
}



.form-group{
  border : 13px solid rgba(205,38,38,0.7);
  background: rgba(245, 245, 245,0.9);
   margin: 50px;
   padding: 30px;
  width: 500px;
}


input {
  text-align: center; padding: 5px; background: #FFAEB9;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .4s;
  opacity: .7;

}
input:hover{
  opacity: 1;
  text-align: center
}
